@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hgroup>
        <h1>Access Denied.</h1>
        <h2>Unauthorized Access</h2>
    </hgroup>
</body>
</html>
